*{
    margin: 0px;
    padding: 0px;
}



div{
    /* background: red; */
    /* height: auto;
    width: auto; */
  
}

.bg{ background-color: blueviolet;
    background-image: url("thierry-meier-PKEPAeMBOIU-unsplash.jpg");
}

h3{

    
    color: blue;
}

p{
    color: aqua;
}